includeConfig("configs/nextflow.config")

params.container = "$HOME/bin/jcu.sif"  // default system wide container, replace with pipeline at runtime

profiles {
    local {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    zodiac {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "pbspro"
        process.container = params.container
    }
    tesla {
        singularity.runOptions = "--nv"
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    
}
