includeConfig("configs/nextflow.config")

params.container = "$HOME/bin/nectar.sif" // default system wide container, replace with pipeline at runtime

profiles {
    local {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    slurm {
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "slurm"
        process.clusterOptions = ""
        process.container = params.container
    }
    
}
