process {

    withLabel: ont {
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: flye {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: shovill {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: medaka {
        maxForks = params.gpu_forks
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: racon {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: coverm {
        cpus = 2
        memory = "8G"
        time = "24h"
    }
    withLabel: fastp {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: pilon {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: genotype {
        cpus = 4
        memory = "16G"
        time = "24h"
    }
    withLabel: megalodon {
        maxForks = params.gpu_forks
        cpus = 12
        memory = "16G"
        time = "24h"
    }
    withLabel: guppy {
        maxForks = params.gpu_forks
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: bonito {
        maxForks = params.gpu_forks
        cpus = 4
        memory = "8G"
        time = "24h"
    }
    withLabel: nanoq {
        cpus = 1
        memory = "2G"
        time = "24h"
    }
    withLabel: kraken2 {
        cpus = params.kraken_threads
        memory = params.kraken_memory
        time = "24h"
    }
    withLabel: raven {
        cpus = params.raven_threads
        memory = params.raven_memory
        time = "24h"
    }

}