includeConfig("../default.config")  // base config

profiles {
    local {
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = "local"
        process.container = params.container
    }
    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--nv"
        process.executor = "slurm"
        process.clusterOptions = "--nodes 1 --account punim1383 --partition gpgpu --gres=gpu:1 --cpus-per-task 4 --quos gpgpuresplat"
        process.container = params.container
    }
    
}
